.git
.gitignore
.gitattributes
.DS_Store
target/
*.md
scripts/
.idea/
.vscode/
*.iml
application.properties
application-local.properties
**/application-local.properties
.env
.env.*
!src/main/resources/application-docker.properties
!src/main/resources/application.properties
